.DS_Store
.codex
wandb/
pretrained_models/
exps/
data/
!data/
data/*
!data/training_metadata_example.jsonl
!data/phrase_bank_new_with_FSDLabel_UrbanSED.jsonl
!data/test_metadata_audiocaps_example.jsonl
!data/test_metadata_clotho_example.jsonl
!data/test_metadata_esc50_example.jsonl
!data/test_metadata_urbansound8k_example.jsonl
!data/test_metadata_vggsound_example.jsonl
!data/test_metadata_desed_example.tsv
!data/test_metadata_desed_duration_example.tsv
!data/test_metadata_audioset_strong_example.tsv
!data/test_metadata_audioset_strong_duration_example.tsv
!data/test_metadata_urbansed_example.tsv
!data/test_metadata_urbansed_duration_example.tsv
!data/test_metadata_tag_example.json
!data/test_metadata_tag_duration_example.tsv


weights/
!weights/
weights/*
!weights/.gitkeep
!logs/.gitkeep
output/
test/

**/__pycache__/
*.pyc           
*.pyo
*.pyd
