.DS_Store
.codex
wandb/
pretrained_models/
exps/
data/
!data/
data/*
!data/training_metadata_example.jsonl
!data/phrase_bank_new_with_FSDLabel_UrbanSED.jsonl
weights/
!weights/.gitkeep
!logs/.gitkeep
output/
test/

**/__pycache__/
*.pyc           
*.pyo
*.pyd
